{% extends "base_layout.html" %}

{% block content %}
  <form id="share-form" method="post">
    <p>Share a Youtube movie</p>
    {% csrf_token %}
    <div class="mb-3">
      <label for="url" class="form-label">Youtube URL</label>
      <input type="text" class="form-control" id="url" name="url" required>
      <div class="invalid-feedback">
        Please provide a valid url.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" required>
      <div class="invalid-feedback">
        Please provide a valid title.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Share</button>
  </form>
{% endblock %}