{% load static %}

<form class="d-flex login-form" id="loginForm"  onsubmit="event.preventDefault();">
  {% csrf_token %}
  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
  <input type="password" class="form-control" id="password" placeholder="Password">
  <button type="submit" id="submit" class="btn btn-primary">Login / Register</button>
</form>

{% block js %}
  <script>
    var loginForm = $('#loginForm');
    var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]');
    var submit = $('#submit');
    submit.click(function(e) {
      var data = new FormData();
      data.append('csrfmiddlewaretoken', csrfmiddlewaretoken.val());
      data.append('username', $('#email').val());
      data.append('password', $('#password').val());
      axios.post('{% url "login" %}', data)
      .then(function (response) {
        if (response.data && response.data.success) {
          window.location.reload();
        }
      })
      .catch(function(e) {
        var response = e.response;
        if(response && response.status == 401) {
          alertMsg(response.data.message);
        }
      })
  })
  </script>
{% endblock %}
