{% load static %}

<form class="d-flex login-form" id="loginForm"  onsubmit="event.preventDefault();">
  {% csrf_token %}
  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
  <input type="password" class="form-control" id="password" placeholder="Password">
  <button type="submit" id="submit" class="btn btn-primary">Login / Register</button>
</form>

{% block js %}
  <script>
    var loginForm = $('#loginForm');
    var submit = $('#submit');
    submit.click(function(e) {
      var data = new URLSearchParams();
      data.append('email', $('#email').val());
      data.append('password', $('#password').val());

      axios({
        method: 'post',
        url: '{% url "login" %}',
        data: data,
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        headers: {
          'cache-control':  'no-cache',
          'content-type':   'application/x-www-form-urlencoded'
        }
      })
      .then(function (response) {
        if (response.status === 200) {
          window.location.reload();
        }
      })
  })
  </script>
{% endblock %}
